.scrollable-container {
  position: relative;
}

.scrollable-container__list {
  display: flex;
  column-gap: var(--spacing-2);
  padding: var(--spacing-1) var(--spacing-2);
  scroll-padding-inline: var(--spacing-1); /* start snap after padding */
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* snap children to start */
  scroll-behavior: smooth;
}

.scrollable-container__list > * {
  scroll-snap-align: start;
}

.scrollable-container__list::-webkit-scrollbar {
  display: none;
}
