.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: var(--spacing-2);
  border-radius: 50%;
}

.dropdown__summary:hover {
  outline: var(--stroke-width-1) solid var(--color-outline);
  background-color: var(--color-surface-variant);
}

.dropdown__menu-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--color-secondary-container);
  border-radius: var(--radius-sm);
  min-width: 14rem;
  padding: var(--spacing-4);
  box-shadow: var(--elevation-2);
  margin-top: var(--spacing-1);
}
