@import url("/src/styles/transition-page.css");

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--safe-height);
  overflow: hidden;
}

.auth__container {
  min-width: 345px;
  text-align: center;
}
