.header-app {
  position: sticky;
  top: 0;
  z-index: var(--z-fixed);
  box-shadow: var(--elevation-1);
  background-color: var(--color-surface);
}

.header-app__nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo-text {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav__logo-img {
  width: 3rem;
}
