.header-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  box-shadow: var(--elevation-1);
  background-color: var(--color-surface);
  /* transition: 0.4s; */
}

.header-app__nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  padding: var(--spacing-1);
}

.nav__logo-text {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
}

.nav__logo-img {
  width: 3rem;
}
