.header-app {
  position: sticky;
  top: 0;
  z-index: var(--z-fixed);
  box-shadow: var(--elevation-1);
  background-color: var(--color-surface);
}

.header-app__nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-app__logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

.header-app__logo-img {
  width: 3.5rem;
  height: 3.5rem;
}

.header-app__logo-text {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
}

.header-app__actions {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-2);
}
