.input__wrapper {
  position: relative;
}

.input__icon,
.input__button {
  right: var(--spacing-4);
}

.input__label {
  left: var(--spacing-5);
  font-weight: var(--font-weight-medium);
  transition: transform 0.4s, font-size 0.3s, color 0.3s;
}

.input__icon,
.input__button,
.input__label {
  position: absolute;
  color: var(--color-on-surface-variant);
  top: 50%;
  transform: translateY(-50%);
}

/* hidden default background-color provided for browser */
.input__field:autofill {
  transition: background-color 6000s, color 6000s;
}

.input__field {
  width: 100%;
  color: var(--color-on-surface);
  background-color: var(--color-surface-variant);
  padding-block: var(--spacing-6);
  padding-inline: var(--spacing-5) var(--spacing-10);
  font-weight: var(--font-weight-medium);
  border-radius: var(--spacing-3);
  transition: border-color 0.2s;
}

.input__field::placeholder {
  font-size: var(--text-sm);
}

.input__field:focus ~ .input__icon,
.input__field:focus ~ .input__label {
  color: var(--color-on-surface);
}

.input__field:focus,
.input__field:not(:placeholder-shown):not(:focus) {
  padding-block: var(--spacing-8) var(--spacing-4);
}

.input__field:focus ~ .input__label,
.input__field:not(:placeholder-shown):not(:focus) ~ .input__label {
  transform: translateY(-25px);
  font-size: var(--text-xs);
  color: var(--color-on-surface);
}

.input__field:focus:not(.input__field--error) {
  outline-color: var(--color-on-surface);
}

.input__field--error {
  outline: 2px solid var(--color-error);
}

.input__field--disabled {
  background-color: var(--color-outline);
  cursor: not-allowed;
}

.input__feedback {
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input__hint {
  color: var(--color-outline);
  font-size: var(--text-sm);
}

.input__error-message {
  color: var(--color-error);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos por defecto (tema claro) */
input[type="datetime-local"].input__field::-webkit-calendar-picker-indicator {
  font-size: var(--text-lg);
  filter: invert(0);
}

/* Estilos para tema oscuro */
[data-theme="dark"]
  input[type="datetime-local"].input__field::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* input with suggestions */
.input {
  position: relative;
}

.input-suggestions {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  background-color: var(--color-surface-variant);
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: var(--z-normal);
  overflow: hidden;
}

.input-suggestion {
  cursor: pointer;
  padding: var(--spacing-4) var(--spacing-5);
  font-size: var(--text-sm);
  transition: background-color 0.2s;
}

.input-suggestion:hover {
  background-color: var(--color-outline);
  color: var(--color-on-surface);
}
