.calendar-events {
  margin-block: var(--spacing-4) 0;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-2);
}

.calendar-events__header {
  color: var(--color-on-surface-variant);
  background: linear-gradient(
    to right,
    transparent,
    5%,
    var(--color-surface-variant),
    95%,
    transparent
  );
  height: 3rem;
  padding-inline: var(--spacing-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-events__header-day {
  font-size: var(--text-md);
}

.calendar-events__header-date {
  font-size: var(--text-md);
}

.calendar-events__list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-1);
}

.calendar-event:nth-child(odd) {
  background: transparent;
}

.calendar-event {
  min-height: 5rem;
  color: var(--color-on-primary-container);
  background: linear-gradient(
    to right,
    transparent,
    var(--color-primary-container) 50%,
    transparent
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.calendar-event:hover .calendar-event__button {
  opacity: 1;
  transform: translateX(0);
}

.calendar-event__button {
  display: grid;
  place-content: center;
  padding: var(--spacing-1);
  border-radius: var(--radius-sm);

  opacity: 0;
  transform: translateX(-10px);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.calendar-event__button--delete {
  transform: translateX(10px);
}

.calendar-event--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.calendar-event__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-3);
  font-weight: var(--font-weight-medium);
}

.calendar-event__title {
  font-size: var(--text-lg);
}

.calendar-event__time {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-normal);
}

.calendar-events__empty,
.calendar-events__list-empty {
  opacity: 0.75;
  font-size: var(--text-md);
  font-weight: var(--font-weight-medium);
  display: grid;
  place-content: center;
  padding-top: var(--spacing-10);
}
