.calendar-events {
  margin-block: var(--spacing-3) 0;
  flex: 1 1 50%;
}

.calendar-events__info {
  color: var(--color-on-surface-variant);
  background: var(--color-surface-variant);
  height: 50px;
  padding-inline: var(--spacing-10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-events__day {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
}

.calendar-events__date {
  font-size: var(--text-md);
  font-weight: var(--font-weight-normal);
}

.calendar-events__list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.calendar-events__item {
  min-height: 70px;
  color: var(--color-on-secondary-container);
  background: linear-gradient(
    to right,
    transparent,
    var(--color-primary-container) 50%,
    transparent
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.calendar-events__item:nth-child(odd) {
  background: transparent;
}

.calendar-events__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
}

.calendar-events__item-time {
  font-size: var(--text-md);
}

.calendar-events__item-edit-btn,
.calendar-events__item-delete-btn {
  opacity: 0;
  display: grid;
  place-content: center;
  padding: var(--spacing-1);
  border-radius: var(--radius-md);
}

@keyframes slideRight {
  from {
    transform: translateX(75px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-75px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.calendar-events__item:hover .calendar-events__item-edit-btn {
  animation: slideRight 0.3s forwards;
}

.calendar-events__item:hover .calendar-events__item-delete-btn {
  animation: slideLeft 0.3s forwards;
}

.calendar-events__no-day-selected,
.calendar-events__no-events {
  height: 100%;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
  display: grid;
  place-content: center;
  padding-block: var(--spacing-4);
}
