.task__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-width: 400px;
}

.task__form-title {
  text-align: center;
  margin-block: 0 var(--spacing-2);
}

.task__form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
}

.task__form-button {
  margin-block: var(--spacing-3);
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: 0.5rem;
}

.form__error {
  min-height: 1rem;
  color: var(--color-error);
  margin-block: 0 var(--spacing-1);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
