.task-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-info__time {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.task-info__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-2);
}

.task-info__edit-btn,
.task-info__delete-btn {
  padding-block: var(--spacing-2);
  padding-inline: var(--spacing-4);
}

.task-info__calendar-btn {
  border-radius: 100%;
  padding: var(--spacing-3);
}

.task-info__calendar-icon {
  width: 1.25rem;
  height: 1.25rem;
}
