.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-5);
}

.search__form {
  position: relative;
  width: 85%;
}

.search__icon-search {
  position: absolute;
  left: var(--spacing-2);
  top: 50%;
  transform: translateY(-50%);
}

.search__input {
  caret-color: var(--color-surface-tint);
  width: 100%;
  border: var(--stroke-width-2) solid var(--color-on-surface-variant);
  color: var(--color-on-surface-variant);
  background-color: var(--color-surface-variant);
  border-radius: var(--radius-lg);
  font-style: italic;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-8) var(--spacing-3);
  transition: all 0.3s ease;
}

.search__input:focus {
  outline: var(--stroke-width-1) solid var(--color-on-surface);
}

.search__input::placeholder {
  color: var(--color-on-surface-variant);
}

.search__button-settings {
  padding: var(--spacing-2);
  border-radius: var(--spacing-6);
  color: var(--color-on-secondary);
  background-color: var(--color-secondary);
}
