.arrow-button-wrapper {
  content: '';
  position: absolute;
  width: 2.25rem;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--z-tooltip);
}

.arrow-button-wrapper--left {
  left: -10px;
  background: linear-gradient(
    to left,
    transparent 0%,
    var(--color-surface) 15%,
    var(--color-surface) 85%,
    transparent 100%
  );
}

.arrow-button-wrapper--right {
  right: -10px;
  background: linear-gradient(
    to left,
    transparent 0%,
    var(--color-surface) 15%,
    var(--color-surface) 85%,
    transparent 100%
  );
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  z-index: var(--z-normal);
  padding: var(--spacing-1);
}

.arrow-button--left {
  left: 10px;
}

.arrow-button--right {
  right: 10px;
}
