.arrow-button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: var(--spacing-1);
  z-index: var(--z-normal);
}

.arrow-button--left {
  left: calc(var(--spacing-2) * -1);
}

.arrow-button--right {
  right: calc(var(--spacing-2) * -1);
}
