.goto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--spacing-3);
}

.goto__form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 1px solid var(--color-outline);
}

.goto__form:focus-within {
  outline: 1px solid var(--color-outline);
}

.goto__form-date {
  border: none;
  outline: none;
  color: var(--color-on-surface);
  width: 100%;
  padding: var(--spacing-3) var(--spacing-5) var(--spacing-3) var(--spacing-2);
  font-weight: var(--font-weight-medium);
}

.goto__form-btn,
.goto__btn-today {
  background-color: var(--);
  padding: var(--spacing-2) var(--spacing-4);
}

.goto__form-btn {
  border-left: 1px solid var(--color-outline);
  z-index: var(--z-normal);
}

.goto__btn-today {
  border: 1px solid var(--color-outline);
  border-radius: 0.25rem;
}

.goto__form-btn:active,
.goto__btn-today:active {
  box-shadow: inset 0 0 0 100vmax var(--color-primary-active);
}
