@import './variables.css';
@import './browser-fixes.css';

/*========== BASE (reset) ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

textarea,
input {
  border: none;
  outline: none;
  background: none;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--text-md);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  overflow: auto;
}

image {
  pointer-events: painted;
}

svg {
  pointer-events: none;
}

img,
picture,
svg,
video,
canvas {
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  all: unset;
  cursor: pointer;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-medium);
}

small {
  font-size: var(--text-xs);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
svg {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  overflow: hidden;
}

/* --- scrollbar --- */
* {
  scrollbar-color: var(--scrollbar-thumb-color-darker) transparent;
}

*:hover {
  /* thumb más opaco al pasar el mouse */
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
}

/* =============== REUSABLE CSS CLASSES =============== */

.section {
  padding: var(--spacing-10) 0 var(--spacing-4);
}

.container {
  max-width: 968px;
  margin-inline: var(--spacing-5);
}

/* =============== BREAKPOINTS =============== */
/* xs devices */
@media screen and (max-width: 360px) {
}

/* sm devices */
@media screen and (min-width: 361px) {
}

/* md devices */
@media screen and (min-width: 576px) {
  li.ongoing__item--new-task {
    display: flex;
  }

  li.categories__item--new-category {
    display: flex;
  }

  .calendar-wrapper__days .calendar-wrapper__day {
    font-size: var(--text-lg);
  }

  .event-card-list__scrollable {
    max-height: 280px;
  }

  section.calendar-page {
    justify-content: center;
    flex-direction: row;
  }
}

/* lg devices */
@media screen and (min-width: 767px) {
}

/* xlg devices */
@media screen and (min-width: 992px) {
  .container {
    margin-inline: auto;
  }

  .auth {
    position: relative;
    min-height: calc(100vh - var(--header-height));
  }

  svg.auth__blob {
    display: block;
    position: absolute;
    top: 0;
    right: -100px;
    height: 100vh;
    cursor: default;
    z-index: var(--z-deep);
  }

  .auth__img {
    transform: translate(-2rem, -3rem);
  }

  div.auth__container {
    width: 430px;
    background-color: var(--color-surface);
    padding: var(--spacing-5);
    border-radius: var(--radius-md);
  }

  h1.register__title,
  h1.login__title {
    margin-bottom: var(--spacing-8);
  }

  button.login__button {
    margin-bottom: var(--spacing-12);
  }

  .register__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-4);
  }
}
