:root {
  --header-height: 5rem;

  /* ========== FONT AND TYPOGRAPHY ========== */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 1.75rem;

  --h1-font-size: 1.25rem;
  --h2-font-size: 1.15rem;
  --h3-font-size: 1.1rem;

  --text-lg: 0.9rem;
  --text-md: 0.85rem;
  --text-sm: 0.8rem;
  --text-xs: 0.75rem;

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;

  /* ========== SPACING ========== */

  --spacing-20: 19rem;
  --spacing-13: 4rem;
  --spacing-12: 3rem;
  --spacing-11: 2.75rem;
  --spacing-10: 2.5rem;
  --spacing-9: 2.25rem;
  --spacing-8: 2rem;
  --spacing-7: 1.75rem;
  --spacing-6: 1.5rem;
  --spacing-5: 1.25rem;
  --spacing-4: 1rem;
  --spacing-3: 0.75rem;
  --spacing-2: 0.5rem;
  --spacing-1: 0.25rem;

  /* ========== Z INDEX ========== */

  --z-modal: 1000;
  --z-fixed: 100;
  --z-tooltip: 10;
  --z-normal: 1;
  --z-deep: -1;

  --color-scrim: hsla(0, 0%, 0%, 0.75);

  /* ========== SCROLL BAR ========== */

  --scrollbar-thumb-color: hsl(0, 0%, 40%);
  --scrollbar-thumb-color-darker: hsl(0, 1%, 30%);
  --scrollbar-color: hsl(0, 1%, 60%);

  /* ========== SHADOW ========== */

  --color-shadow: hsla(0, 0%, 0%, 0.2);

  --elevation-3: 0 3px 8px var(--color-shadow);
  --elevation-2: 0 2px 7px var(--color-shadow);
  --elevation-1: 0 2px 6px var(--color-shadow);

  /* ========== COLOR PALETTE => M3 design based on: #5247ed ========== */

  /* --- LIGHT THEME --- */
  --color-surface-tint: hsl(242, 24%, 46%);

  --color-primary: hsl(242, 24%, 46%);
  --color-primary-hover: hsl(243, 22%, 52%);
  --color-primary-active: hsla(242, 24%, 40%, 0.64);

  --color-on-primary: hsl(0, 0%, 100%);
  --color-primary-container: hsl(246, 100%, 95%);
  --color-on-primary-container: hsl(243, 59%, 18%);

  --color-secondary: hsl(246, 10%, 40%);
  --color-on-secondary: hsl(0, 0%, 100%);

  --color-secondary-hover: hsl(247, 8%, 46%);
  --color-secondary-active: hsl(246, 10%, 40%, 0.12);

  --color-hover: hsl(258, 7%, 38%);

  --color-secondary-container: hsl(247, 68%, 93%);
  --color-on-secondary-container: hsl(240, 26%, 14%);

  --color-surface: hsl(274, 100%, 99%);
  --color-on-surface: hsl(250, 10%, 12%);

  --color-surface-variant: hsl(256, 22%, 90%);
  --color-on-surface-variant: hsl(247, 6%, 29%);

  --color-outline: hsl(252, 4%, 48%);
  --color-outline-variant: hsl(256, 10%, 79%);

  --color-error: hsl(0, 75%, 42%);
  --color-error-hover: hsl(1, 72%, 48%);
  --color-error-active: hsla(0, 44%, 44%, 0.69);

  --color-on-error: hsl(0, 0%, 100%);
  --color-error-container: hsl(6, 100%, 92%);
  --color-on-error-container: hsl(358, 100%, 13%);
}

/* --- DARK THEME --- */
[data-theme='dark'] {
  --color-surface-tint: hsl(243, 100%, 88%);

  --color-primary: hsl(243, 100%, 88%);
  --color-on-primary: hsl(242, 39%, 27%);

  --color-primary-hover: hsl(244, 98%, 94%);
  --color-primary-active: hsl(243, 100%, 90%, 0.12);

  --color-primary-container: hsl(242, 30%, 36%);
  --color-on-primary-container: hsl(246, 100%, 94%);

  --color-secondary: hsl(247, 27%, 82%);
  --color-on-secondary: hsl(243, 18%, 22%);

  --color-secondary-hover: hsl(248, 25%, 84%);
  --color-secondary-active: hsl(247, 27%, 82%, 0.12);

  --color-secondary-container: hsl(243, 13%, 31%);
  --color-on-secondary-container: hsl(247, 68%, 93%);

  --color-surface: hsla(240, 12%, 8%);
  --color-on-surface: hsl(270, 15%, 90%);

  --color-surface-variant: hsl(247, 6%, 29%);
  --color-on-surface-variant: hsl(256, 10%, 79%);

  --color-outline: hsl(256, 5%, 58%);
  --color-outline-variant: hsl(247, 6%, 29%);

  --color-error: hsl(6, 100%, 84%);
  --color-on-error: hsl(357, 100%, 21%);

  --color-error-hover: hsl(5, 98%, 90%);
  --color-error-active: hsl(6, 100%, 84%, 0.12);

  --color-error-container: hsl(356, 100%, 29%);
  --color-on-error-container: hsl(6, 100%, 92%);

  --color-shadow: hsla(0, 0%, 0%, 0.5);

  --color-shadow-inset: hsl(0, 0%, 8%);

  --elevation-3: 0 3px 8px var(--color-shadow);
  --elevation-2: 0 2px 7px var(--color-shadow);
  --elevation-1: 0 2px 6px var(--color-shadow);
}
