:root {
  --header-height: 5rem;

  /* ========== FONT AND TYPOGRAPHY ========== */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 1.75rem;

  --h1-font-size: 1.25rem;
  --h2-font-size: 1.15rem;
  --h3-font-size: 1.1rem;

  --text-lg: 0.9rem;
  --text-md: 0.85rem;
  --text-sm: 0.8rem;
  --text-xs: 0.75rem;

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;

  --radius-lg: 1.5rem;
  --radius-md: 1rem;
  --radius-sm: 0.5rem;
  --radius-xs: 0.25rem;

  --stroke-width-1: 1px;
  --stroke-width-2: 2px;

  --state-layer-hover-opacity: 0.1;
  --state-layer-focus-opacity: 0.12;
  --state-layer-pressed-opacity: 0.17;
  --state-layer-dragged-opacity: 0.19;
  --state-layer-disabled-opacity: 0.38;

  /* ========== SPACING ========== */

  --spacing-20: 19rem;
  --spacing-15: 6rem;
  --spacing-14: 5rem;
  --spacing-13: 4rem;
  --spacing-12: 3rem;
  --spacing-11: 2.75rem;
  --spacing-10: 2.5rem;
  --spacing-9: 2.25rem;
  --spacing-8: 2rem;
  --spacing-7: 1.75rem;
  --spacing-6: 1.5rem;
  --spacing-5: 1.25rem;
  --spacing-4: 1rem;
  --spacing-3: 0.75rem;
  --spacing-2: 0.5rem;
  --spacing-1: 0.25rem;

  /* ========== Z INDEX ========== */

  --z-modal: 1000;
  --z-fixed: 100;
  --z-tooltip: 10;
  --z-normal: 1;
  --z-base: 0;
  --z-deep: -1;

  --color-scrim: hsla(0, 0%, 0%, 0.75);

  /* ========== SCROLL BAR ========== */

  --scrollbar-thumb-color: hsla(0, 0%, 39%, 0.8);
  --scrollbar-thumb-color-darker: hsla(0, 0%, 39%, 0.5);

  /* ========== SHADOW ========== */

  --color-shadow: hsla(0, 0%, 0%, 0.2);

  --elevation-3: 0 3px 8px var(--color-shadow);
  --elevation-2: 0 2px 7px var(--color-shadow);
  --elevation-1: 0 2px 6px var(--color-shadow);

  /* ========== COLOR PALETTE => M3 design based on: #5247ed ========== */

  /* --- LIGHT THEME [data-theme='light']--- */

  --color-page-1-calendar: hsl(247, 5%, 83%);
  --color-page-2-calendar: hsl(247, 5%, 78%);
  --color-surface-tint: hsl(242, 24%, 46%);

  --color-primary: hsl(242, 24%, 46%);
  --color-on-primary: hsl(0, 0%, 100%);
  --color-primary-container: hsl(246, 100%, 95%);
  --color-on-primary-container: hsl(243, 59%, 18%);

  --color-secondary: hsl(246, 10%, 40%);
  --color-on-secondary: hsl(0, 0%, 100%);
  --color-secondary-container: hsl(247, 68%, 93%);
  --color-on-secondary-container: hsl(240, 26%, 14%);

  --color-surface: hsl(274, 100%, 99%);
  --color-on-surface: hsl(250, 10%, 12%);
  --color-surface-variant: hsl(256, 22%, 90%);
  --color-on-surface-variant: hsl(247, 6%, 29%);

  --color-outline: hsl(252, 4%, 48%);
  --color-outline-variant: hsl(256, 10%, 79%);

  --color-error: hsl(0, 75%, 42%);
  --color-on-error: hsl(0, 0%, 100%);
  --color-error-container: hsl(6, 100%, 92%);
  --color-on-error-container: hsl(358, 100%, 13%);

  --color-warning: hsl(35, 80%, 30%);
  --color-on-warning: hsl(45, 100%, 90%);
  --color-warning-container: hsl(45, 100%, 90%);
  --color-on-warning-container: hsl(35, 80%, 30%);

  --color-info: hsl(210, 80%, 35%);
  --color-on-info: hsl(208, 100%, 93%);
  --color-info-container: hsl(208, 100%, 93%);
  --color-on-info-container: hsl(210, 80%, 35%);

  --color-success: hsl(145, 60%, 25%);
  --color-on-success: hsl(142, 80%, 90%);
  --color-success-container: hsl(142, 80%, 90%);
  --color-on-success-container: hsl(145, 60%, 25%);
}

/* --- DARK THEME --- */
[data-theme='dark'] {
  --color-page-1-calendar: hsl(243, 13%, 20%);
  --color-page-2-calendar: hsl(243, 13%, 15%);

  --color-surface-tint: hsl(243, 100%, 88%);

  --color-primary: hsl(243, 100%, 88%);
  --color-on-primary: hsl(242, 39%, 27%);
  --color-primary-container: hsl(242, 30%, 36%);
  --color-on-primary-container: hsl(246, 100%, 94%);

  --color-secondary: hsl(247, 27%, 82%);
  --color-on-secondary: hsl(243, 18%, 22%);
  --color-secondary-container: hsl(243, 13%, 31%);
  --color-on-secondary-container: hsl(247, 68%, 93%);

  --color-surface: hsla(240, 12%, 8%);
  --color-on-surface: hsl(270, 15%, 90%);
  --color-surface-variant: hsl(247, 6%, 29%);
  --color-on-surface-variant: hsl(256, 10%, 79%);

  --color-outline: hsl(256, 5%, 58%);
  --color-outline-variant: hsl(247, 6%, 29%);

  --color-error: hsl(6, 100%, 84%);
  --color-on-error: hsl(357, 100%, 21%);
  --color-error-container: hsl(356, 100%, 29%);
  --color-on-error-container: hsl(6, 100%, 92%);

  --color-warning: hsl(35, 80%, 60%);
  --color-on-warning: hsl(0, 0%, 10%);
  --color-warning-container: hsl(35, 80%, 30%);
  --color-on-warning-container: hsl(45, 100%, 90%);

  --color-info: hsl(210, 80%, 60%);
  --color-on-info: hsl(0, 0%, 10%);
  --color-info-container: hsl(210, 80%, 30%);
  --color-on-info-container: hsl(208, 100%, 93%);

  --color-success: hsl(145, 60%, 60%);
  --color-on-success: hsl(0, 0%, 10%);
  --color-success-container: hsl(142, 80%, 30%);
  --color-on-success-container: hsl(142, 80%, 90%);

  --color-shadow: hsla(0, 0%, 0%, 0.5);

  --color-shadow-inset: hsl(0, 0%, 8%);

  --elevation-3: 0 3px 8px var(--color-shadow);
  --elevation-2: 0 2px 7px var(--color-shadow);
  --elevation-1: 0 2px 6px var(--color-shadow);
}
