.button-theme {
  z-index: var(--z-normal);
  box-shadow: var(--elevation-3);
}

.button-theme__icon {
  display: inline-block;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.button-theme__icon.light {
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

.button-theme__icon.dark {
  transform: rotate(180deg) scale(1.1);
  opacity: 1;
}

.button-theme__icon-wrapper {
  position: relative;
  display: inline-block;
}
