.task-form__backend-error {
  min-height: 1rem;
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.task-form__header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--spacing-4);
}

.task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--spacing-3);
  margin-inline: auto;
  max-width: 25rem;
  margin-block: var(--spacing-3);
}

.task-form__title {
  text-align: center;
}

.task-form__fieldset {
  all: unset;
}

.task-form__fieldset--readonly {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.task-form__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
}

.task-form__btn {
  margin-block: var(--spacing-3);
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--radius-sm);
}
