.categories__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-4);
}

.categories__list {
  overflow: hidden;
  display: flex;
  gap: var(--spacing-2);
  min-height: 200px;
  /* background-color: transparent; */
  /* Define el alineamiento inicial */
  /* justify-content: flex-start;
  align-items: flex-start;
  transition: background-color 0.3s ease, border-radius 0.3s ease, gap 0.3s ease; */
}

.categories__list--no-result {
  color: var(--color-surface-variant);
  background-color: var(--color-on-surface-variant);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.category__item {
  display: flex;
  flex-direction: column;
  color: var(--color-on-primary-container);
  background-color: var(--color-primary-container);
  border-radius: 1rem;
  padding: var(--spacing-4);
  height: 200px;
  min-width: 150px;
  gap: var(--spacing-2);
}
