.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form__box {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  position: relative;
}

.form__label {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  position: absolute;
  left: var(--spacing-5);
  font-weight: var(--font-weight-medium);
  z-index: var(--z-normal);
  transition: transform 0.4s, font-size 0.4s, color 0.4s;
}

.form__input {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  border: 2px solid var(--color-surface-variant);
  width: 100%;
  padding: var(--spacing-4) var(--spacing-2) var(--spacing-4) var(--spacing-5);
  font-weight: var(--font-weight-medium);
  border-radius: 1rem;
  z-index: var(--z-normal);
}

.form__input:autofill {
  transition: background-color 6000s, color 6000s;
}

/* Input focus move up label */
.form__input:focus ~ .form__label {
  border-radius: 1rem;
  font-size: var(--text-xs);
  padding: 0.1rem;
  transform: translateY(-27px);
}

/* Input focus sticky top label */
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  background-color: var(--color-surface);
  font-size: var(--text-xs);
  padding: 0.1rem;
  transform: translateY(-27px);
}

/* Input focus color */
.form__input:focus,
.form__input:focus ~ .form__label {
  outline-color: var(--color-on-surface);
}

.form__date-picker {
  position: relative;
}

.form__text-area {
  background-color: var(--color-surface);
  padding: var(--spacing-4) var(--spacing-2) var(--spacing-6) var(--spacing-5);
}

/* text-area focus move up label */
.form__text-area:focus ~ .form__label {
  border-radius: 1rem;
  font-size: var(--text-xs);
  padding: 0.1rem;
  transform: translateY(-47px);
}

/* text-area focus sticky top label */
.form__text-area:not(:placeholder-shown).form__text-area:not(:focus)
  ~ .form__label {
  background-color: var(--color-surface);
  font-size: var(--text-xs);
  padding: 0.1rem;
  transform: translateY(-47px);
}

.form__footer {
  margin-block: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.form__button-ok,
.form__button-reset {
  text-align: center;
  width: 5rem;
  border-radius: 0.5rem;
  padding-block: var(--spacing-2);
}

.form__button-reset {
  background-color: var(--color-surface-variant);
  transition: background-color 0.5s;
}

.form__button-reset:hover {
  color: var(--color-on-surface);
  background-color: var(--color-surface);
  outline: 2px solid var(--color-surface-variant);
}

.form__button-ok {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.form__button-ok:hover {
  box-shadow: var(--elevation-1);
}
