.page {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  /* transition: transform 0.4s, opacity 0.4s, scale 0.3s 0.1s; */
}

.page-enter {
  animation: fadeIn 0.3s ease forwards;
}

.page-exit {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* .page {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transition: transform 0.3s, opacity 0.3s 0.1s;
}

.page-enter {
  opacity: 0;
  transform: translateX(0);
  pointer-events: initial;
}

.page-exit {
  opacity: 1;
  transform: translateX(-15rem);
  pointer-events: none;
} */
