.schedule-event {
  color: var(--color-on-secondary);
  background-color: var(--color-secondary);
  border-radius: var(--spacing-4);
  padding: var(--spacing-5);
  gap: var(--spacing-3) var(--spacing-1);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 95%;
  animation: fadeSlideIn 0.5s ease both;
  overflow-y: auto;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.schedule-event--completed .schedule-event__body {
  filter: blur(2px) contrast(50%);
  transition: filter 0.3s;
  cursor: none;
  pointer-events: none;
}

.schedule-event--start {
  mask-image: linear-gradient(to bottom, black calc(100% - 1.5rem), transparent 100%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.schedule-event--end {
  mask-image: linear-gradient(to top, black calc(100% - 1.5rem), transparent 100%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.schedule-event__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-event--completed .schedule-event__title-text {
  text-decoration: line-through;
}

.schedule-event--completed .schedule-event__text-completed {
  text-decoration: none;
  opacity: 0.5;
}

.schedule-event__status-btn {
  padding: var(--spacing-1);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s;
  color: var(--color-outline);
  border: var(--stroke-width-2) solid var(--color-outline);
}

.schedule-event__status-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-outline);
}

.schedule-event__status-btn--completed {
  color: var(--color-primary);
  border: var(--stroke-width-2) solid var(--color-on-primary);
}

.schedule-event__status-btn--completed .schedule-event__status-icon {
  color: var(--color-on-primary);
}

.schedule-event__collaborators {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-event__phone-btn {
  border-radius: 50%;
  padding: var(--spacing-1);
  background-color: var(--color-on-surface);
}

.schedule-event__follow-btn {
  position: absolute;
  right: var(--spacing-2);
  bottom: var(--spacing-6);
  padding: var(--spacing-3) var(--spacing-6);
  gap: var(--spacing-2);
}

.schedule-event__follow-icon {
  width: 1rem;
  height: 1rem;
  transition: transform 0.3s ease-in-out;
}

.schedule-event__follow-btn:hover .schedule-event__follow-icon {
  transform: translateX(10px);
}
