.event-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.event-form__fieldset {
  all: unset;
}

.event-form__fieldset--readonly {
  opacity: 0.5;
  cursor: alias;
  pointer-events: none;
}

.event-form__header {
  display: flex;
  margin-block: var(--spacing-2) var(--spacing-4);
  align-items: center;
  justify-content: center;
  column-gap: var(--spacing-2);
}

.event-form__button {
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--radius-sm);
}

.event-form__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
}

.event-form__error {
  margin: var(--spacing-1) 0;
  color: var(--color-error);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}
