.search__container {
  justify-content: center;
  align-items: center;
}

.search__form {
  position: relative;
  width: 85%;
}

.search__icon-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search__input {
  caret-color: var(--color-surface-tint);
  width: 100%;
  border: 2px solid var(--color-on-surface-variant);
  color: var(--color-on-surface-variant);
  background-color: var(--color-surface-variant);
  border-radius: 2rem;
  font-style: italic;
  padding: 12px 12px 12px 40px;
  transition: all 0.3s ease;
}

.search__input:focus {
  outline: 1px solid var(--color-on-surface);
}

.search__input::placeholder {
  color: var(--color-on-surface-variant);
}

.search__button-settings {
  padding: var(--spacing-2);
  border-radius: var(--spacing-6);
  color: var(--color-on-secondary);
  background-color: var(--color-secondary);
}
