.date-pills-nav {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-5);
}

.date-pills-actions {
  display: flex;
  column-gap: var(--spacing-5);
  justify-content: center;
  align-items: center;
}

.date-pills-nav__btn {
  padding: var(--spacing-1);
}

.date-pills-nav__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.date-pills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: var(--spacing-1);
  animation: fade-in 0.3s ease-out;
}

@keyframes slide-left {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.date-pills.slide-left {
  animation: slide-left 0.3s ease-in-out;
}

.date-pills.slide-right {
  animation: slide-right 0.3s ease-in-out;
}
