.chip {
  display: inline-block;
  padding: var(--spacing-1) var(--spacing-3);
  border-radius: var(--radius-md);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-xs);
  text-transform: capitalize;
  background-color: var(--color-surface-variant);
  color: var(--color-on-surface-variant);
}

.chip--success {
  background-color: var(--color-on-success);
  color: var(--color-success);
}

.chip--warning {
  background-color: var(--color-on-warning);
  color: var(--color-warning);
}

.chip--info {
  background-color: var(--color-on-info);
  color: var(--color-info);
}

.chip--error {
  background-color: var(--color-on-error);
  color: var(--color-error);
}

.chip--outlined {
  background-color: transparent;
  border: var(--stroke-width-2) solid var(--color-outline);
}
