.ongoing-tasks {
  overflow: hidden;
}

.ongoing-tasks__header {
  padding-bottom: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ongoing-tasks__header-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.ongoing-tasks__list {
  display: flex;
  gap: var(--spacing-2);
  min-height: 12rem;
  overflow-x: hidden;
}

.ongoing-tasks__list--empty {
  color: var(--color-on-surface-variant);
  font-style: italic;
  border-radius: var(--radius-md);
  justify-content: center;
  align-items: center;
  min-height: 12rem;
}

.ongoing-tasks__title {
  font-size: var(--h2-font-size);
}
