.header-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;
  z-index: var(--z-fixed);
  box-shadow: var(--shadow-sm);
  background-color: var(--color-surface);
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-profile__image {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
}
