.add-event-btn {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  color: var(--color-primary);
  border: var(--stroke-width-2) solid var(--color-primary);
  opacity: 0.5;
  z-index: var(--z-tooltip);
}

.add-event-btn:hover {
  opacity: 1;
}
