/* Show hide login & create account */
.page {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transition: transform 0.3s, opacity 0.3s 0.1s;
  pointer-events: none;
}

.page-enter {
  opacity: 1;
  transform: translateX(0);
  pointer-events: initial;
}

.page-exit {
  opacity: 0;
  transform: translateX(-15rem);
  pointer-events: none;
}
