.schedule__avatars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule__avatar:not(:first-child),
.schedule__avatar--more {
  margin-left: calc(-1 * var(--spacing-2));
  border-radius: 50%;
}

.schedule__avatar--more {
  padding: var(--spacing-2);
  background-color: var(--color-on-surface);
  width: 2.5rem;
  height: 2.5rem;
}
