.auth__blob {
  display: none;
}

.login__forgot {
  display: block;
  width: max-content;
  margin-left: auto;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-surface-tint);
  transition: color 0.4s;
}

.login__forgot:hover {
  color: var(--color-on-surface);
}

.login__button {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding-block: var(--spacing-6);
  border-radius: 4rem;
  margin-block: var(--spacing-8);
  transition: background-color 0.4s, box-shadow 0.4s;
  font-weight: var(--font-weight-bold);
}

.login__button:hover {
  color: var(--color-on-secondary);
  background-color: var(--color-secondary);
  box-shadow: var(--elevation-3);
}

.login__social {
  margin-bottom: var(--spacing-4);
}

.login__social-title {
  text-align: center;
  font-size: var(--text-sm);
  margin-bottom: var(--spacing-4);
}

.login__social-img {
  width: 1rem;
}

.login__social-links {
  display: flex;
  justify-content: center;
  column-gap: var(--spacing-6);
}

.login__social-link {
  padding: 0.5rem;
  box-shadow: var(--elevation-2);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  transition: transform 0.4s;
}

.login__social-link:hover {
  transform: translateY(-0.25rem);
}

.login__switch {
  font-size: var(--text-md);
  padding: var(--spacing-1);
  border-radius: 1rem;
}

.login__switch a {
  font-weight: var(--font-weight-bold);
}

.login__error {
  color: var(--color-error);
  padding-block: 0 var(--spacing-3);
  font-weight: var(--font-weight-bold);
}
