.button-theme {
  background: transparent;
  border: none;
  cursor: pointer;
}

.button-theme__icon {
  display: inline-block;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

.button-theme__icon--light {
  transform: rotate(0deg);
}

.button-theme__icon--dark {
  transform: rotate(360deg);
}
