.calendar-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--spacing-2);
  color: var(--color-on-secondary-container);
  text-transform: capitalize;
  font-size: var(--text-lg);
}

.calendar-weekdays {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.calendar-weekdays__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.28%;
  font-weight: var(--font-weight-medium);
}

.calendar-days {
  display: flex;
  flex-wrap: wrap;
}

.calendar-days__day {
  cursor: pointer;
  width: 14.28%;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  border: 2px dotted hsla(0, 0%, 50%, 0.05);
  font-size: var(--text-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.calendar-days__day--prev-day,
.calendar-days__day--next-day {
  font-size: var(--text-lg);
  color: var(--color-outline);
}

.calendar-days__day--prev-day:hover,
.calendar-days__day--next-day:hover {
  cursor: not-allowed;
  color: var(--color-on-primary-container);
}

.calendar-days__day:not(
    .calendar-days__day--prev-day,
    .calendar-days__day--next-day,
    .calendar-days__day--active
  ):hover {
  color: var(--color-on-primary-container);
  background-color: var(--color-primary-container);
  transform: scale(1.04);
}

.calendar-days__day--active {
  position: relative;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  z-index: var(--z-tooltip);
  transform: scale(1.04);
}

.calendar-days__day--today:not(.calendar-days__day--active) {
  box-shadow: var(--elevation-2);
  background-color: var(--color-primary-container);
  z-index: var(--z-normal);
}

.calendar-days__day--event {
  position: relative;
}

.calendar-days__day--event::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 50%;
  height: 6px;
  border-radius: 10px;
  transform: translateX(-50%);
  background-color: #982828;
}

.calendar-days__day--event:hover::after {
  background-color: #896161;
}

.calendar-days__day--active.calendar-days__day--event::after {
  background-color: #897676;
  bottom: 20%;
}
