.calendar-wrapper {
  position: relative;
  background-color: var(--color-secondary-container);
  padding: var(--spacing-4);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-1);
  flex: 1 1 75%;
}

.calendar-wrapper::after,
.calendar-wrapper::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 96%;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  background-color: var(--color-outline);
}

.calendar-wrapper::before {
  height: 92%;
  right: calc(100% + 5px);
  background-color: var(--color-on-surface-variant);
}

.calendar-wrapper__today {
  text-align: center;
  margin: 0 auto;
  padding: var(--spacing-3);
  color: var(--color-on-secondary-container);
  font-weight: var(--font-weight-medium);
  border-radius: var(--radius-md);
}

.calendar-wrapper__today-button {
  padding: var(--spacing-1);
}

.calendar-wrapper__month {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
  border-radius: var(--radius-sm);
  font-size: var(--text-lg);
  text-transform: capitalize;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.calendar-wrapper__weekdays {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-3);
  text-transform: capitalize;
}

.calendar-wrapper__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.28%;
  font-weight: var(--font-weight-medium);
}

.calendar-wrapper__days {
  display: flex;
  flex-wrap: wrap;
}

.calendar-wrapper__day {
  color: var(--color-on-primary-container);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.28%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  will-change: transform, background-color;
  transition:
    transform 0.3s,
    background-color 0.3s,
    color 0.3s;
}

.calendar-wrapper__day::before {
  content: '';
  position: absolute;
  inset: 5%;
  border-radius: inherit;
  background-color: transparent;
  z-index: var(--z-deep);
}

.calendar-wrapper__day--active,
.calendar-wrapper__day {
  border-radius: 50%;
}

.calendar-wrapper__day,
.calendar-wrapper__day--prev,
.calendar-wrapper__day--next {
  font-size: var(--text-md);
}

.calendar-wrapper__day--prev,
.calendar-wrapper__day--next {
  color: var(--color-outline);
}

.calendar-wrapper__day--prev:hover,
.calendar-wrapper__day--next:hover {
  cursor: not-allowed;
}

.calendar-wrapper__day:not(
    .calendar-wrapper__day--prev,
    .calendar-wrapper__day--next,
    .calendar-wrapper__day--active,
    .calendar-wrapper__day--today
  ):hover::before {
  color: var(--color-on-primary-container);
  background-color: var(--color-surface);
  border: var(--stroke-width-1) solid var(--color-on-secondary-container);
}

.calendar-wrapper__day--active::before {
  border: var(--stroke-width-2) dashed var(--color-on-secondary-container);
  background-color: var(--color-surface);
}

.calendar-wrapper__day--today:not(.calendar-wrapper__day--active)::before {
  box-shadow: var(--elevation-1);
  background-color: var(--color-surface);
  z-index: var(--z-deep);
}

.calendar-wrapper__day--active,
.calendar-wrapper__day--event {
  position: relative;
}

.calendar-wrapper__day--event::after {
  content: '';
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 10%;
  border-radius: var(--radius-sm);
  background-color: var(--color-on-surface);
}

.calendar-wrapper__day--event:hover::after {
  background-color: var(--color-on-secondary-container);
}

.calendar-wrapper__day--active.calendar-wrapper__day--event::after {
  background-color: var(--color-on-secondary-container);
}
