.ongoing__header {
  padding-bottom: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ongoing__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing-2);
  min-height: 200px;
}

.ongoing__list--no-result {
  font-style: italic;
  color: var(--color-on-surface-variant);
  background-color: var(--color-surface-variant);
  border-radius: 1rem;
  grid-template-columns: 1fr;
  place-items: center;
  align-items: center;
}

.ongoing__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-8);
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  border-radius: 1rem;
  padding: var(--spacing-4);
}

.ongoin__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ongoing__duration {
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);
  border-radius: 50%;
}

.ongoing__progress {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--color-on-secondary-container);
  border-radius: 50%;
}
