.ongoing__container {
  position: relative;
}

.ongoing__header {
  padding-bottom: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ongoing__header-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.ongoing__list {
  display: flex;
  gap: var(--spacing-2);
  min-height: 200px;
  overflow-x: hidden;
}

.ongoing__list::-webkit-scrollbar {
  display: none;
}

.ongoing__list--no-result {
  color: var(--color-on-surface-variant);
  background-color: var(--color-surface-variant);
  font-style: italic;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.ongoing__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-8);
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  border-radius: 1rem;
  padding: var(--spacing-6);
  min-height: 200px;
  min-width: 250px;
}

.ongoing__item--new-task {
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.ongoing__item--new-task:hover {
  opacity: 1;
}

.ongoing__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ongoing__card-new-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.ongoing__item-title,
.ongoing__title {
  display: flex;
  align-items: center;
}

.ongoing__duration {
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);
  border-radius: 50%;
}

.ongoing__progress {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--color-on-secondary-container);
  border-radius: 50%;
}

.ongoing__list--no-result .ongoing__item--new-task {
  display: none;
}
